/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: $font1;
  font-size: 16px;
  color: $bgNavy;
}

h1 {
  font-family: $font1;
  color: $bgNavy;
  font-weight: 800;
  font-size: 5vw;
}

h2 {
  color: white;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: $bgNavy;
  font-size: 12px;
}

h4 {
  color: $bgNavy;
  font-size: 8px;
  font-weight: 200;
}

p {
  color: $bgNavy;
  font-weight: 200;
}

a {
  font-size: 15px;
  color: $bgBlue;
  text-decoration: none;
}

a:hover {
  font-size: 15px;
  color: $bgNavy;
  font-weight: 700;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  font-weight: 300;
  font-size: 8vw;
  transform-style: preserve-3d;
  animation: three-dimensions-circle 15s linear infinite;
}

li {
  position: absolute;
  top: 50%;
  left: -50%;
  text-shadow: 5px 5px rgba(150,150,150,.5);

}

img {
  width: 40vw;
  object-fit: cover;
  // height: 200px;
}
