//css grid, flex, media query
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,500;0,600;0,800;1,200;1,300;1,500;1,600;1,800&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  // padding: 0;
  // margin: 0;
}

aside,
footer,
header,
main,
nav {
  // border: 1px black solid;
}

footer,
header {
  text-align: center;
  color: $bgNavy;
}

.entireWebpageContainer {
  margin: auto;
  width: 1000px;
  background: green;
}

.photoContainer {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  // margin-left: 30px;
}

.photo {
  padding: 20px;
}

.photo:hover {
  border: 10px $bgNavy solid;
}

header {
  grid-area: heady;
}

nav {
  grid-area: navvy;
  padding-bottom: 50px;
}

main {
  grid-area: mainy;
  background: purple;
  max-height: 100%;
}

#mainy {
  grid-area: mainy;
  max-height: 100%;
}

footer {
  grid-area: footy;
  background: $bgYellow;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}
//SMALLER WINDOW
@media screen and (min-width: 641px) and (max-width: 900px) {
  .container {}
  // .photoContainer {
  //   display: grid;
  //   margin: auto;
  //   grid-template-columns: 1fr 1fr 1fr;
  //   padding: 20px;
  // }
}
//LARGER WINDOWS
@media screen and (max-width: 640px) {
  .container {}
}
