//css grid, flex, media query
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,500;0,600;0,800;1,200;1,300;1,500;1,600;1,800&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  // padding: 0;
  // margin: 0;
}

aside,
footer,
header,
main,
nav {
  // border: 1px black solid;
}

.entireWebpageContainer {
  margin: auto;
  width: 82vw;
  // background: green;
}


main {
  // background: purple;
  // max-height: 100%;
  height: 75vw;
}

.mainSection {
  // border: 3px solid orange;
  max-width: 1200px;
  margin: auto;
  height: 85vw;
  display: grid;
  grid-gap: 1rem;
}

.myName {
  postion: relative;
  text-align: center;
  padding-top: 50px;
  // border: 1px solid black;
  font-weight: 100;
  letter-spacing: 20px;

}
//entire card object

.projectCardContainer {
  position: relative;
  width: 30vw;
  height: 15rem;
  margin: 0 auto;
  // background: green;
}
//inside layer that holds front and back sides of the card

.Card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  // background: yellow;
}

.Card:hover {
  transform: rotateY(180deg);
}

.cardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: $bgNavy;
  border-radius: 1px;
  border-radius: 50%;
  display: table;
  text-align: center;
  // border: 3px solid black;
}

.projectTitle {
  display: table-cell;
  vertical-align: middle;
}

.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20%;
  backface-visibility: hidden;
  background: $bgYellow;
  transform: rotateY(180deg);
}

.thumbnailImage {
  // border: 2px solid black;
  border-radius: 50px;
  // border-bottom-left-radius: 0;
  // border-bottom-right-radius: 0;
  margin: 12px;
  width: 23vw;
  // height: 10rem;
}

img {
  border-radius: 50px;
  // border-bottom-left-radius: 0;
  // border-bottom-right-radius: 0;
  max-width: 100%;
  width: 23vw;
  // height: 14vw;
  object-fit: cover;
  object-position: top left;
}

.projectDescription {
  position: absolute;
  // border: 1px solid green;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.projectDescriptionHeader {
  margin-top: -5px;
}

.projectDescriptionText {
  // border: 1px solid pink;
  margin-top: -18px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  overflow: hidden;
  padding-bottom: 70px;
  // border: 1px solid green;
}
// .photoContainer {
//   display: grid;
//   margin: auto;
//   grid-template-columns: 1fr 1fr 1fr;
//   padding: 30px;
//   // margin-left: 30px;
// }
// .photo {
//   padding: 20px;
// }
//
// .photo:hover {
//   border: 10px $bgNavy solid;
// }
/* ==========================================================================
   SMALLEST WINDOW
   ========================================================================== */
@media screen and (max-width: 640px) {
  .mainSection {
    grid-template-columns: repeat(1, 1fr);
  }

  .projectCardContainer {
    position: relative;
    width: 70vw;
    height: 24rem;
    margin: 0 auto;
    // background: green;
  }

  .thumbnailImage {
    // border: 2px solid black;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 12px;
    width: 65vw;
  }

  img {
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 100%;
    width: 65vw;
    // height: 14vw;
    object-fit: cover;
    object-position: top left;
  }

  // header {
  //
  //   height: 40vw;
  // }
  @for $i from 1 through 12 {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 10 - 10}deg) translateY(-150px) rotateX(90deg);
    }
  }
  @keyframes three-dimensions-circle {
    0% {
      transform: rotateX(-100deg) rotate(0);
    }

    100% {
      transform: rotateX(-100deg) rotate(-360deg);
    }
  }
  // .photoContainer {
  //   display: grid;
  //   margin: auto;
  //   grid-template-columns: 1fr 1fr 1fr;
  //   padding: 20px;
  // }
}
/* ==========================================================================
   SMALLER WINDOW
   ========================================================================== */
@media screen and (min-width: 641px) and (max-width: 900px) {
  .thumbnailImage {
    // border: 2px solid black;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 12px;
    width: 35vw;
  }

  img {
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 100%;
    width: 35vw;
    // height: 14vw;
    object-fit: cover;
    object-position: top left;
  }

  .mainSection {
    grid-template-columns: repeat(2, 1fr);
  }

  .projectCardContainer {
    position: relative;
    width: 38vw;
    height: 22rem;
    margin: 0 auto;
    // background: green;
  }
  @for $i from 1 through 12 {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 15 - 15}deg) translateY(-250px) rotateX(90deg);
    }
  }
  @keyframes three-dimensions-circle {
    0% {
      transform: rotateX(-100deg) rotate(0);
    }

    100% {
      transform: rotateX(-100deg) rotate(-360deg);
    }
  }
  // .photoContainer {
  //   display: grid;
  //   margin: auto;
  //   grid-template-columns: 1fr 1fr 1fr;
  //   padding: 20px;
  // }
}
/* ==========================================================================
   LARGER WINDOW
   ========================================================================== */
@media screen and (min-width: 900px) {
  .mainSection {
    grid-template-columns: repeat(3, 1fr);
  }

  .projectCardContainer {
    position: relative;
    width: 25vw;
    height: 22rem;
    margin: 0 auto;
    // background: green;
  }
  @for $i from 1 through 12 {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 15 - 15}deg) translateY(-350px) rotateX(90deg);
    }
  }
  @keyframes three-dimensions-circle {
    0% {
      transform: rotateX(-100deg) rotate(0);
    }

    100% {
      transform: rotateX(-100deg) rotate(-360deg);
    }
  }
}
